<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2 class="titulo">Edición Película:</h2>
    <h1><%= Movie.title %></h1>
    <% if (locals.usuario.role == 9) { %>  
        <section class="formulario">
            <form action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
                <div>
                    <label for="title">Título</label>
                    <span><input type="text" name="title" id="" value="<%= Movie.title %>" required></span>
                </div>
                <br>
                <div>
                    <label for="rating">Calificación </label>
                    <span><input type="number" name="rating" id="" value="<%= Movie.rating %>" required></span>
                </div>
                <br>
                <div>
                    <label for="awards">Premios </label>
                    <span><input type="number" name="awards" id="" value="<%= Movie.awards %>" required></span>
                </div>
                <br>
                <div>
                    <label for="release_date">Fecha de creación </label>
                    <span><input type="date" name="release_date" id="" value="<%= Movie.release_date %> required"></span>
                </div>
                <br>
                <div>
                    <label for="length">Duración </label>
                    <span><input type="number" name="length" id="" value="<%= Movie.length %>"></span>
                </div>
                <br>
                <div>
                    <label for="genre_id">Género </label>
                    <span>
                        <select name="genre_id" required>
                            <% allGenres.forEach(genre => { %>
                            <option value="<%= genre.id %>" <% if (Movie.genre.id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                            <% }); %>
                        </select>
                    </span>
                <br>
                <p> <button type="submit">Actualizar</button>   
                    <a href="/">volver a la lista</a>
                </p>
            </form>
        </section>
    <% }else{%>
        <h1>SOLO PUEDE MODIFICAR PELICULAS CON ROL DE ADMINISTRADOR...</h1>
        <a href="/">volver a la lista</a>
    <%}%>
</body>
</html>